<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Conatct Pgae</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis dolorem recusandae ab inventore, error incidunt repellat impedit? Esse praesentium soluta saepe harum modi a provident tempore, tenetur itaque aliquid nesciunt.</p>
</body>
</html>